@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono');

/* Style inspiration and settings adapted from https://github.com/jgthms/web-design-in-4-minutes*/

/* Base */
html {
  font-size: 18px;
  margin: 0 1em !important;
}

/* 01 Font family */

body {
  font-family: "Courier New", "Helvetica", sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Mono', monospace;
}

/* 03 Spacing */


.padded {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

div.main-content h2:first-child {
  padding-top: 15px;
}

div.main-content h2 {
  padding-top: 30px;
  padding-bottom: 15px;
}

header h1, h5 {
  display: inline;
}

/* 04 Color and contrast */

body {
  color: #c5ccce;
  background-color: #282f3a;
}

h1,
h2,
strong {
  color: #dcdede;
}

header h5 {
  font-weight: lighter;
}

/* 05 Balance */

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

/* 06 Primary color */

a {
  color: #58bdd6;
}

/* 07 Secondary colors */

h1,
h2,
strong {
  font-weight: 500;
}

/* Other styles */

ul.recent-devlogs {
  min-height: 150px;
}