.post-info {
  padding-bottom: 15px;
}

.post-content {
  line-height: 32px;
}

.post-content h1, h3, code, pre {
  padding-bottom: 15px;
  padding-top: 15px;
}

.post-content h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.post-content p + p {
  margin-top: 15px;
}

.post-navigation {
  padding-top: 20px;
  display: flow-root;
}

.post-navigation a {
  max-width: 300px;
}

/* Images */

.thumbnail-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

img.thumbnail {
  display: block;
  max-height: 350px;
  padding-bottom: 15px;
}

.img-caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  text-align: center;
  padding-bottom: 15px;
}

hr.game-separator {
  margin: 15px 0;
}