.post-info {
  padding-bottom: 15px;
}

.post-content {
  line-height: 32px;
}

.post-content h1, h3, code, pre {
  padding-bottom: 15px;
  padding-top: 15px;
}

.post-content h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.post-content p + p {
  margin-top: 15px;
}

.post-navigation {
  padding-top: 20px;
  display: flow-root;
}

.post-navigation a {
  max-width: 300px;
}