---
layout: default
---
<div class="post-info">
  <h2>{{ page.title }}</h2>
  <p>{{ page.date | date: "%B %d, %Y" }}</p>
</div>

<div class="post-content">
  {{ content }}

  <div class="post-navigation">
    {% if page.category %}
      {% assign cat_posts = site.posts | where: "published", true | where: "category", page.category %}

      {% for p in cat_posts %}
        {% if p.url == page.url %}
          {% assign prev_idx = forloop.index0 | plus: 1 %}
          {% assign next_idx = forloop.index0 | minus: 1 %}

          {% if next_idx >= 0 %}
            {% assign next_post = cat_posts[next_idx] %}
          {% endif %}
          {% if prev_idx < cat_posts.size %}
            {% assign prev_post = cat_posts[prev_idx] %}
          {% endif %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% if prev_post %}
        <a href="{{ prev_post.url | relative_url }}" class="previous-post float-left">← {{ prev_post.title }}</a>
      {% endif %}
      {% if next_post %}
        <a href="{{ next_post.url | relative_url }}" class="next-post float-right">{{ next_post.title }} →</a>
      {% endif %}
    {% endif %}
  </div>
</div>