---
layout: default
---
<div class="post-info">
  <h2>{{ page.title }}</h2>
  <p>{{ page.date | date: "%B %d, %Y" }}</p>
</div>

<div class="post-content">
  {{ content }}

  <div class="post-navigation">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="previous-post float-left">Previous: {{ page.previous.title }}</a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="next-post float-right">Next: {{ page.next.title }}</a>
    {% endif %}
  </div>
</div>